/* Main */

@font-face {
    font-family: 'Bold';
    src: url('../fonts/Product-Sans-Bold.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('../fonts/Product-Sans-Regular.ttf');
}

@font-face {
    font-family: 'Light';
    src: url('../fonts/Product-Sans-Light.ttf');
}

h1 {
    font-family: 'Bold'!important;
    font-size: 50px;
}

h2,
h3,
h4,
h5,
b {
    font-family: 'Regular'!important;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

a,
p {
    font-family: 'Light'!important;
    font-size: 17px;
}

a:link,
a:visited {
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.card-content h1,
.footer h1,
.card-content h2,
.footer h2,
.card-content h3,
.footer h3,
.card-content h4,
.footer h4,
.card-content h5,
.footer h5,
.card-content a,
.card-content p {
    margin-bottom: 15px;
}

.card-content a,
.card-content p {
    color: rgba(0, 0, 0, 0.8);
}

.page-title {
    width: 100%;
    padding: 25px 0 50px 0;
    text-align: center;
    opacity: 0;
    animation: page-title 1s 0.2s forwards;
}

@keyframes page-title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fa {
    padding: 0 2.5px;
    transition: all 0.25s;
}

a:link .fa, a:visited .fa {
    color: black;
}

.button {
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Regular'!important;
    border-radius: 2px;
    text-decoration: none!important;
    transition: all 0.25s;
}

.button:hover {
    background: rgba(0, 0, 0, 0.05);
}

.faded {
    color: rgba(255, 255, 255, 0.65)!important;
}

.section {
    display: none!important;
}

.section:target {
    display: flex!important;
}

body {
    background: #e2e2e2;
    padding: 0;
    margin: 0;
    font-family: 'Light'!important;
}

.wrapper-horizontal {
    display: flex;
    flex-flow: row wrap;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.card {
    background: white;
    position: relative;
    margin: 20px 1%!important;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    opacity: 0;
    animation: card 0.5s forwards;
    -moz-animation: card 0.5s forwards;
}

.card-padding {
    padding: 15px;
}

.card hr {
    border: 0 none;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
    margin-top: -10px;
}

.card-content {
    padding: 35px 50px;
}

.card-footer {
    padding: 5px 40px 20px 40px;
}

.card-image {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-image-button {
    color: black;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -60px 0 20px 90%;
    cursor: pointer;
}

.rounded-image {
    border-radius: 50%;
}

.ellipsis {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.ellipsis-menu ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 5px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.ellipsis-menu li {
    list-style-type: none;
    display: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    opacity: 0;
    background: white;
    margin-top: -10px;
    transition: all 0.25s;
}

.ellipsis-menu-active {
    opacity: 1!important;
    margin-top: 0px!important;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.1s;
}

.card:nth-child(3) {
    animation-delay: 0.2s;
}

.card:nth-child(4) {
    animation-delay: 0.3s;
}

.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7),
.card:nth-child(8),
.card:nth-child(9),
.card:nth-child(10) {
    animation-delay: 0.4s;
}

@keyframes card {
    from {
        opacity: 0;
        margin-top: 20px;
    }
    to {
        opacity: 1;
        margin-top: 10px;
    }
}

table {
    border-spacing: 0px;
}

td {
    padding: 5px 0 5px 0;
}

td:nth-child(odd) {
    font-weight: bold;
}

td:nth-child(even) {
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

input,
textarea {
    width: 75%;
    padding: 10px 5%;
    margin: 15px 2%;
    border: none;
    border-bottom: 1px solid lightgray;
    background: white;
    outline: none;
    resize: none;
    font-size: 20px;
    color: gray;
    font-family: "Light";
    transition: all 0.25s;
}

input::placeholder,
textarea::placeholder {
    color: lightgray;
}

input:focus,
textarea:focus {
    color: gray!important;
    border-bottom: 1px solid gray;
    padding: 10px 5%;
    margin: 15px 2%;
}

button {
    background: gray;
    border: none;
    color: white;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 25px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.align-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.masonry {
    padding: 0 50px;
    column-gap: 25px;
    list-style: none;
    -moz-column-fill: balance;
    column-fill: balance;
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
}

.masonry div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.w1 {
    width: 10%;
}

.w2 {
    width: 20%;
}

.w3 {
    width: 30%;
}

.w4 {
    width: 40%;
}

.w5 {
    width: 50%;
}

.w6 {
    width: 60%;
}

.w7 {
    width: 70%;
}

.w8 {
    width: 80%;
}

.w9 {
    width: 90%;
}

.w10 {
    width: 98%;
}

.full {
    width: 100%;
}

.selector ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0;
    position: absolute;
    right: 50px;
    top: 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.selector li {
    list-style-type: none;
    display: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    opacity: 0;
    margin-top: -10px;
    transition: all 0.25s;
}

.selector-main {
    display: inline-block!important;
    opacity: 1!important;
    margin-top: 0px!important;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.selector-main:after {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
}

.selector-active {
    opacity: 1!important;
    margin-top: 0px!important;
}

.header {
    width: 100%;
    color: white;
    margin-bottom: 35px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.header-main {
    padding: 50px 0 50px 50px;
}

.header-navigation {
    padding: 0 25px;
}

.navigation-item {
    cursor: pointer;
    padding: 25px 25px 22.5px 25px;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none!important;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.25s;
}

_::-webkit-full-page-media,
_:future,
:root .navigation-item {

    margin: 1px;

}


.navigation-item:hover {
    color: white;
}

a.navigation-item-active {
    color: white;
    border-bottom: 2.5px solid white;
}

.footer {
    position: relative;
    width: 100%;
    color: white;
    margin-top: 35px;
    box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.25);
}

.footer a {
    color: white;
}

.footer-footer .fa:hover {
    color: white!important;
}

.footer-main {
    padding: 50px;
}

.footer-footer {
    padding: 25px 50px;
}

.footer ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0;
}

.footer li {
    list-style-type: none;
}

.footer-top {
    color: black;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10%;
    top: -20px;
    cursor: pointer;
}

.loader {
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




/* Mobile Settings */

.mobile-header,
.mobile-navigation-wrapper,
.mobile-navigation {
    display: none;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    .page-title {
        padding: 25px 0;
    }

    .card {
        width: 90%!important;
    }
    
    .card .w1, .card .w2, .card .w3, .card .w4, .card .w5, .card .w6, .card .w7, .card .w8, .card .w9, .card .w10 {
        width: 100%;
    }
    
    .card-padding {
        padding: inherit;
    }

    .body {
        margin-top: 100px;
    }

    @-moz-document url-prefix() {
        .body {
            margin-top: 150px;
        }
    }

    .masonry {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        -moz-columns: 1;
        -webkit-columns: 1;
        columns: 1;
    }

    .header {
        display: none;
    }

    .mobile-header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: white;
        padding: 25px 0;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
        z-index: 4;
    }

    .header-navigation {
        display: none;
    }

    .mobile-navigation-wrapper {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.75);
        z-index: 4;
        opacity: 0;
        transition: all 0.25s;
    }

    .mobile-navigation-wrapper-active {
        opacity: 1;
    }

    .mobile-navigation {
        display: flex;
        position: absolute;
        right: -50%;
        width: 75%;
        height: 100%;
        color: white;
        z-index: 5;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.25s;
    }

    .mobile-navigation-active {
        right: 0;
    }

    .mobile-navigation-item {
        cursor: pointer;
        padding: 25px;
        color: white;
        text-transform: uppercase;
        text-decoration: none!important;
        font-size: 20px;
    }

    .footer .w3 {
        width: 90%;
        margin-bottom: 25px;
    }

    .footer .w5 {
        width: 90%;
        margin-bottom: 5px;
        justify-content: flex-start;
    }

    .footer .w3:last-child,
    .footer .w5:last-child {
        margin-bottom: 0;
    }
}




/* Template Settings */

.demo-background {
    background: #d14747;
}

.demo-accent {
    background: #a83939;
}

.demo-accent-2 {
    background: #efc2c2;
}




/* Errors */

.noscript {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noscript p {
    color: white;
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.noscript a {
    color: white;
}
